
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Bulletin Board</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item <% if (id == "recent") { %>active<% } %>">
            <a class="nav-link" href="/posts/recent">Recent</a>
          </li>
          <li class="nav-item <% if (id == "trending") { %>active<% } %>">
            <a class="nav-link" href="/posts/trending">Trending</a>
          </li>
          <li class="nav-item <% if (id == "create_post") { %>active<% } %>">
            <a class="nav-link btn btn-primary" href="/posts/create">Create Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Logout (swright)</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
