<%- include('header', { title: 'Post' }); %>
<%- include('nav_bar', { id: null }); %>

<!-- Page Content -->
<div class="container py-3">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      <div class="post-preview">
        <h2 class="post-title">
          <a id="thumbs_up_on" style="display: none;"><i class="fa fa-thumbs-up"></i></a>
          <a id="thumbs_up_off"><i class="fa fa-thumbs-up" style="color: #DDD;" id="thumbs_up_off"></i></a>
          Lorem ipsum dolor sit amet.
        </h2>

        <p class="post-meta">Posted by
          swright
          on September 20, 2020</p>
        <p class="post-subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
          <br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
          <br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>
          <br>
        </p>
      </div>

    </div>
  </div>
</div>

<%- include('footer', { javascript_uri: '/javascripts/view_post.js' }); %>
